.container {
  width: 756px;
  margin: auto;
}

header > h1 {
  text-align: center;
}

#nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#nav-list > .nav-item {
  margin-bottom: 10px;
}

#nav-list > .nav-item > a {
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
}

main {
  padding: 10px 0;
  margin: 20px 0;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

footer {
  text-align: center;
}
